input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin-left: 0;
  position: static;
}

p {
  margin-bottom: 0.5rem;
}

p.available {
  font-weight: bold;
}

p.unavailable {
  font-style: italic;
}
